// normalize.css also installed

// document

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 12pt;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

// headings

h1 {
  margin: 40px 0;
  @include trim-v-margins;
  padding: 10px 0;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  letter-spacing: 1px;
  // text-transform: uppercase;
}

h2 {
  margin: 40px 0;
  @include trim-v-margins;
  padding: 10px 0;
  font-size: 1.3rem;
  font-weight: 500;
  text-align: center;
}

h3 {
  margin: 40px 0;
  @include trim-v-margins;
  padding: 10px 0;
  font-size: 1.2rem;
  font-weight: 500;
  text-align: left;
}

// elements

a {
  color: $theme;
  transition: color $fast;

  &:hover {
    color: $black;
  }
}

p {
  text-align: justify;
  line-height: $spacing + 0.3;
  margin: 20px 0;
  @include trim-v-margins;
}

button {
  color: currentColor;
  background: none;
  border: none;
  padding: 20px;
  cursor: pointer;
}

ul,
ol {
  text-align: left;
  margin: 20px 0;
  @include trim-v-margins;
  padding: 0;
}

li {
  padding: 5px 0 5px 20px;
}

// anchors

.anchor {
  display: inline-block;
  width: 0;
  padding: 10px;
  opacity: 0;
  text-decoration: none;
  font-size: 0.8em;
  transition: opacity $fast;
}

.anchor:focus {
  opacity: 1;
}

h1,
h2,
h3 {
  &:hover .anchor {
    opacity: 1;
  }
}

// tooltips

.tippy-box {
  padding: 10px;
  font-size: 1rem;
}

// util

.center {
  text-align: center;
}
